body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #191919;
    background-image: url('../home/images/fullFeedback_img.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.tagButton {
    padding: 0.5em 0.9em;
    border: 4px solid #b1dae7;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    color: #b1dae7;
    font-weight: bolder;
    font-size: 14px;
    margin: 10px;
}

.tagButton:hover {
    transform: scale(1.2) rotate(10deg);
    background-color: #b1dae7;
    color:#000000;
}


.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

#navigation {
    overflow: hidden;
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: top;
    z-index: 2;
    opacity: 0.9;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#navigation.scrolled {
    background-color: #000000;
    opacity: 0.9;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-container img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

.nav-link {
    text-decoration: none;
    padding: 10px 40px;
    cursor: pointer;
    color: #ffffff;
}

#station_sec {
    max-width: 50%;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-image: url('../home/images/fulls_sec1.jpg');
    background-size: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#station_sec:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.section {
    max-width: 50%;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-image: url('../home/images/fulls_sec.jpg');
    background-size: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.section:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#Text-feedback {
    height: 120px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

#Text-feedback:focus {
    outline: none;
    border-color: #007BFF;
}


#heading {
    color: #fff;
    text-align: center;
    padding-right: 150px;
}

h1 {
    text-align: center;
}

#image-left {
    float: left;
    height: 75px;
    width: 75px;
}

#navigation {
    padding-bottom: 30px;
}

#navigation-button {
    float: right;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 18px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 10px 10px 10px 10px;
}

.dropdown {
    margin-top: 20px;
}

select {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
}

.form {
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;
    white-space: pre-wrap;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgba(255, 0, 0, 0.0);
    color: #ffffff;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.overlay-active #overlay {
    display: block;
}

#menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#menu-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin: 20px;
}

.line {
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
}

#menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 35px;
}

@media (max-width: 800px) {
    .nav-link {
        display: none;
    }

    .feedback-btn1 {
        display: none;
    }

    #buttons-container {
        display: none;
    }

    #menu-toggle {
        display: flex;
    }

    #station_sec {
        max-width: 80%;
    }

    .section {
        max-width: 80%;
    }

}


@media (min-width:801px) {
    .overlay-active #overlay {
        display: none;
    }
}