body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #191919;
    background-image: url('images/background.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#fx_title {
    position: relative;
}

#navigation {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#navigation.scrolled {
    background-color: #000000;
    opacity: 0.9;
}

#logo-container {
    display: flex;
    align-items: center;
}

#main_view {
    text-align: center;
    padding: 21%;
}

#main_desc {
    color: #8A8A8B;
    font-size: 30px;
}

#main_title {
    font-size: 60px;
    transition: 0.3s;
}

#main_title:hover {
    -webkit-text-stroke: 2px #ffffff;
    color: rgba(255, 0, 0, 0.0);

}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 35px;
}

.strong {
    color: #ffffff;
}

#logo-container img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#fetch-sec {
    max-width: 90%;
    overflow: auto;
    white-space: nowrap;
}

.feedback-btn {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;
    white-space: pre-wrap;
    transition: background-color 0.3s ease;
}

.feedback-btn:hover {
    background-color: rgba(255, 0, 0, 0.0);
    color: #ffffff;
}

.feedback-btn1 {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'manrope', sans-serif;
    border-radius: 50px 50px 50px 50px;
    white-space: pre-wrap;
    transition: background-color 0.3s ease;
}

.feedback-btn1 a {
    text-decoration: none;
    color: #000000;
}

.feedback-btn1:hover {
    background-color: rgba(255, 0, 0, 0.0);
    color: #ffffff;
}

.feedback-btn2 {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'manrope', sans-serif;
    border-radius: 50px 50px 50px 50px;
    white-space: pre-wrap;
    transition: background-color 0.3s ease;
}

.feedback-btn2 a {
    text-decoration: none;
    color: #000000;
}

.feedback-btn2:hover {
    background-color: rgba(255, 0, 0, 0.0);
    color: #ffffff;
}

.p {
    color: #ffffff;
    font-size: 20px;
}

.feedback-box-section {
    overflow: hidden;
    width: 250px;
    text-overflow: ellipsis;
    height: 300px;
    max-height: 300px;
    white-space: wrap;
    background-image: url("images/download.jpeg");
    background-size: cover;
    text-align: center;
    align-items: center;
    margin: 20px 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.enlarge-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.0);
    border-radius: 10px 10px 10px 10px;
}

.feedback-box-section.enlarged {
    width: 600px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
    z-index: 1;
    overflow: hidden;
    white-space: normal;
}

.feedback-datetime {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 10px;
}

.section {
    max-width: 90%;
    height: auto;
    background-image: url("images/section_img1.jpeg");
    background-size: cover;
    text-align: center;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.feedback-box {
    color: #ffffff;
    max-height: 300px;
    padding: 10%;
    overflow: hidden;
}

.content-wrapper {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
}

#buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.nav-link {
    text-decoration: none;
    padding: 10px 40px;
    cursor: pointer;
    color: #ffffff;
}

#menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 20px;
}

.line {
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
}



#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.overlay-active #overlay {
    display: block;
}

#menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#menu-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin: 20px;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 10px;
    right: 100px;
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.checkbox {
    position: relative;
    width: 80%;
    height: 80%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

#button-3 .knobs:before {
    content: "EN";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active+.knobs:before {
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active+.knobs:before {
    margin-left: -26px;
}

#button-3 .checkbox:checked+.knobs:before {
    content: "HI";
    left: 42px;
    background-color: #f44336;
}

#button-3 .checkbox:checked~.layer {
    background-color: #fcebeb;
}

@media (max-width: 800px) {
    .nav-link {
        display: none;
    }

    .toggle-button-cover {
        left: 60px;
    }

    .feedback-btn1 {
        display: none;
    }

    #buttons-container {
        display: none;
    }

    body {
        background: size 90%;
    }

    #menu-toggle {
        display: flex;
    }

    #main_title {
        font-size: 40px;
    }

    #main_desc {
        color: #8A8A8B;
        font-size: 20px;
    }

    h2 {
        font-size: 25px;
    }

    .p {
        font-size: 15px;
    }

    .feedback-box-section {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .enlarge-button {
        max-width: 100%;
        box-sizing: border-box;
    }

    .feedback-box-section.enlarged {
        width: 90%;
        height: 90%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        transform: scale(1.2);
        z-index: 1;
        overflow: hidden;
        white-space: normal;
    }


}

@media (min-width:801px) {
    .overlay-active #overlay {
        display: none;
    }
}