body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    width: 100%;
    min-height: 100vh;
    background-color: #a6c8e7;
    
}

.MAIN-DIV{
    position: absolute;
    left: 150px;
}

#navigation {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #000000;
    opacity: 0.9;
    width: 1907px;
    align-items: center;
    position:fixed;
    z-index: 2;
    padding: 10px;
}

#buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.nav-link {
    text-decoration: none;
    padding: 10px 40px;
    cursor: pointer;
    color: #ffffff;
}

.container {
    padding: 20px;
    max-width: 550px;
    max-height: 750px;
    width: 480px;
    border-radius: 10px;
    background: linear-gradient(145deg, #95b4d0, #b2d6f7);
    box-shadow: 25px 25px 50px #7d96ad,
        -25px -25px 50px #d0faff;
}

.title {
    padding-left: 10px;
    height: fit-content;
}

.title h1{
    color:#ffffff;
}

.hidden_items {
    visibility: hidden;
}

.add_delete_btn {
    color: #000000;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 10px 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add_delete_btn:hover {
    color: #000000;
    background-color: #fff;
    border: 2px solid #000000
}

#add-delete {
    padding-top: 100px;
    height: auto;
    width: auto;
}

h1,
h2 {
    color: #333;
}

.section {
    margin-bottom: 30px;
}

.ul-foredit {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    max-height: 400px;
}

.li-foredit {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.buttons {
    display: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons:hover {
    background-color: white;
    color: #000000;
    border: 2px solid #000000;
}

.station-section.active .buttons {
    display: inline;
}

#station_section {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 10px;
    margin: 10px;
}

#alert-message {
    margin-bottom: 20px;
}

.one_analysis {
    padding: 20px;
    width: 380px;
    height: 800px;
    max-width: 900px;
    border-radius: 10px;
    background: linear-gradient(145deg, #95b4d0, #b2d6f7);
    box-shadow: 25px 25px 50px #7d96ad,
        -25px -25px 50px #d0faff;
}

#loc {
    padding-top: 100px;
    padding-left: 100px;

}

#feedback {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 3px;
    margin-top: 10px;
}

#add_dlt_desc {
    width: 50%;

    background-color: white;
    border-radius: 10px;
}

select {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#feedback-message {
    text-align: center;
    background-color: white;
    width: auto;
    padding: 10px;
    border-radius: 10px;
}

.delete-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
}

.delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
}

.delete-svgIcon path {
    fill: white;
}

.delete-button:hover {
    width: 90px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.delete-button::before {
    display: none;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.delete-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
    margin-left: 20px;
}

.edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
}

.edit-svgIcon path {
    fill: white;
}

.edit-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.edit-button::before {
    display: none;
    content: "Edit";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

.avg-total{
    text-align: center;
}

.full_analysis{
    padding: 20px;
    width: 500px;
    height: 1050px;
    border-radius: 10px;

    background: linear-gradient(145deg, #95b4d0, #b2d6f7);
    box-shadow: 25px 25px 50px #7d96ad,
        -25px -25px 50px #d0faff;
}

.full_loc{
    padding-top: 100px;
    padding-left: 660px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 100px;
    /* z-index: 3; */
}

.fullfeedbacks{
    background-color: white;
    border-radius: 10px;
    max-height: 300px;
    max-width: 400;
    overflow-y: auto;
    text-align: center;
    align-items: center;
}

.feedback-entry{
    margin: 10px;
    border-bottom: 1px solid #000000;

}

#analysis-result-list{
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 10px;
    text-align: left;
    line-height: 2rem;
    max-height: 200px;
    overflow-y: auto;
}

.update_button{
    color: #000000;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 10px 50px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.update_button:hover{
    color: #000000;
    background-color: #fff;
    border: 2px solid #000000
}


@media screen and (max-width: 1920px) {
    body {
        transform: scale(0.79);
        transform-origin: top left;
    }

}
