body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url('../home/images/oneclickbackground.png');
    background-size: cover;
    align-items: center;
    height: 100vh;
    /* background: #ff9933; */
}

.container {
    width: 70%;
    text-align: center;
}

.feedback-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .feedback-box h1{
    font-size: 40px;
}

.options {
    margin-top: 20px;
}

.option {
    background-color: #138808;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.RadioButtons {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.dropdown {
    margin-top: 20px;
}

select {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 800px){
    .container{
        width: 100%;
    }
}